body {
	background-color: #333;
	color: #bbb;
	font-family: 'Arial', serif;
}

.container {
	max-width: 100%;
	max-height: 100%;
	padding: 3vh 3vw;

}


.red {
	background-color: red;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.orange {
	background-color: orange;
}

.blue {
	background-color: blue;
}

.magenta {
	background-color: magenta;
}

.cyan {
	background-color: cyan;
}

.modal {
	position: relative;
}

.modal__container {
	width: 50vw;
	height: 30vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(187, 187, 187, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: crimson;
	font-size: 1.2rem;
}

.modal__glass {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgb(187, 187, 187, 0.3);

}

.js-position {
	top: -100vh;

}

.modal__btn {
	width: 70px;
	height: 50px;
	border-radius: 3px;
	border: none;
	color: rgb(32, 129, 240);
	font-size: 1.2rem;

}

.tetris__row {
	display: flex;
	justify-content: center;
}

.tetris__board {
	border: 1px solid #bbb;
	border-collapse: collapse;
	flex: 0 1 20%;
}

.tetris__board td {
	border: 1px solid #bbb;
	width: 4vh;
	height: 4vh;
}

.tetris__info {
	flex: 0 1 10%;
	padding: 3vw;
}

.tetris__column {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tetris__figure {
	/* flex: 0 1 20%; */
	margin: 0 auto;
	width: 96px;
	height: 96px;
	border: 1px solid #bbb;
	border-collapse: collapse;
}

.tetris__figure td {
	width: 1vh;
	height: 1vh;
}

.tetris__date {
	flex: 0 1 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
}


.tetris__date span {
	display: inline-block;
	padding: 5px;
	height: 50%;
	width: 60%;
	font-size: 0.8rem;
	color: #333;
	background-color: white;
}


.tetris__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 1 15%;
}

.tetris__buttons button {
	width: 70px;
}

.btn {
	display: block;
	height: 50%;
	width: 30%;
	color: rgb(32, 129, 240);
	font-family: 'Arial', serif;
	font-size: 1rem;
	border-radius: 1vw;
	border: none;
	transition: 1s;
}

.btn:hover {
	border: 2px solid rgb(32, 129, 240);
}

.tetris__title {
	flex: 0 1 15%;
	display: flex;
	align-items: flex-end;
	font-family: 'Press Start 2P', cursive;
	font-size: 1.5rem;
	line-height: 1.5;
}

.tetris__nav {
	margin-top: 3vh;
	display: flex;
	justify-content: center;
	gap: 3vw;
	height: 5vh;
}

.nav__btn {
	height: 100%;
	flex: 0 1 8%;

}

.active {
	background-color: rgb(32, 129, 240);
	color: #fff;
}

@media (max-width: 625px) {
	.container {
		padding: 2vh 2vw;
	}

	.tetris__board {
		flex: 0 1 60%;
	}

	.tetris__date {
		font-size: 1rem;
		display: block;
	}

	.tetris__date span {
		display: block;
		margin-top: 1vh;
		width: 100%;

	}



	.tetris__buttons {
		flex: 0 1 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.btn {
		font-size: auto;
		width: 50%;
		height: 30%;
	}

	.tetris__title {
		flex: 0 1 10%;
		font-size: 1rem;
	}



	.tetris__nav button {
		height: 100%;
		flex: 0 1 20%;
	}

}